<ion-view view-title="Home">
  <ion-content>
    <h1> This is Instagram Home </h1>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="posthtml in postsctrlscope" type="item-text-wrap" href="#/tab/home/{{posthtml.id}}">
        <img ng-src="{{posthtml.face}}">
        <h2>{{posthtml.name}}</h2>
        <p>{{posthtml.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      <!--   <ion-option-button class="button-assertive" ng-click="remove(post)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
